$measure: 30rem;
$line-height: 1.35;

$text-color: #222;
$background-color: #f5f5f5;
$key-color: #FFC36E;

@function line-height-rem($multiplier) {
  @return $line-height * 1rem * $multiplier;
}

@mixin inner-block() {
  //display: block;
  max-width: $measure;
  margin: auto;
}
