@import "./base";

@mixin no-link {
  color: $text-color;
  text-decoration: none;
}

@mixin button($primary: false, $outline: false, $light: false, $full-width: false, $reduce-right: false) {
  display: inline-block;
  font-size: 1rem;

  padding: 0 ($line-height * 0.444rem);
  @if $reduce-right {
    padding-right: ($line-height * 0.222rem);
  }

  @if $primary {
    color: $text-color;
    background-color: $key-color;
    border: none;

    &:hover {
      color: $key-color;
      background-color: $text-color;
    }
  }
  @elseif $outline {
    color: $text-color;
    border: 1px solid $text-color;

    &:hover {
      color: $background-color;
      background-color: $text-color;
    }
  }
  @elseif $light {
    color: $text-color;
    background-color: white;
    border: none;

    &:hover {
      color: $background-color;
      background-color: $text-color;
    }
  }
  @else {
    color: $background-color;
    background-color: $text-color;
    border: none;
  }

  @if $full-width {
    display: block;
    text-align: center;
  }

  border-radius: 0.5rem * $line-height;
  text-decoration: none;
}
