@import 'reusables/base';
@import 'reusables/flexbox';

.listing-provision {
  &_details {
    @include flex-row;

    > * {
      flex-grow: 1;
      flex-basis: 50%;
      line-height: line-height-rem(1.5);
    }
  }

  &_prices {
    margin-top: line-height-rem(0.5);

    h3 {
      margin-bottom: line-height-rem(0.5);
    } 
  }
}