@import "reusables/card";

$listing-gutter: line-height-rem(0.25);

.listings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  //margin: -$listing-gutter;
}

.listing {
  flex-basis: ($measure * 0.5);
  max-width: ($measure * 0.5);
  flex-shrink: 0;
  margin: 0;
  padding: $listing-gutter;

  &_primary-link {
     @include card;

     display: block;
  }
  &_primary-link:hover &_image {
    opacity: 0.85;
  }

  &_figure {
    margin: 0;
    margin-bottom: line-height-rem(0.333);
  }

  &_image {
    display: block;
    width: 100%;
    height: auto;
  }

  &_book {
    @include card;
  }
}
