@import "reusables/button";

.region {
  &_country-name {
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
    //text-transform: uppercase;
  }
  &_name {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  &_listing-count {
    font-size: 1rem;
    //font-weight: normal;
    //text-transform: uppercase;
    vertical-align: baseline;
    margin-left: ($line-height * 0.5rem);

    a {
      @include button($light: true);
    }

    .fa {
      /*margin-top: -0.2em;
      font-size: 0.75em;*/
      //vertical-align: middle;
    }
  }
}