@import "reusables/base";

html {
  background-color: $background-color;
  color: $text-color;
  font-family: system, "-apple-system", "-webkit-system-font", BlinkMacSystemFont, "Helvetica Neue", "Helvetica", "Segoe UI", "Roboto", "Arial", "freesans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
	font-size: calc(112.5% + 2 * (100vw - 600px) / 400);
  line-height: $line-height;
  margin: 1rem;
}

main {
  > section,
  > header,
  > article,
  > nav {
    max-width: 30rem;
    margin: auto;
  }

  section,
  header,
  article,
  nav {
    margin-bottom: 2.7rem;
  }
}

p, ol, ul, td, h1, h2, h3, h4, h5, h6, input {
  margin-top: 0;
  margin-bottom: 1.35rem;
}

h1 {
  font-size: 1.5rem;
}

input {
  font-family: inherit;
  font-size: inherit;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  text-decoration: none;

  &:hover {
    color: $key-color;
  }
}

th {
  text-align: left;
  padding: 0.2rem;
}

td {
  padding: 0.2rem;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
