.weather {
  &_sun {
    h5 {
      display: inline-block;
      font-size: 1rem;
      font-weight: normal;
    }
    &_rise {
      margin-right: 2em;
    }
  }

  &_forecast {
    font-size: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;

    &_item {
      &_weekday {
        display: inline-block;
        width: 4em;
      }
      &_temperature {
        display: inline-block;
        width: 5.8em;
      }
      &_condition {
        display: inline-block;
        font-style: italic;
        min-width: 10em;
      }
    }
  }
}